.navbar {
  display: flex;
  justify-content: space-around;
  font-family: Bebas Neue;
  background-color: var(--secondary);
}
ul {
  list-style: none;
}
.img {
  width: 50px;
}

h5 {
  background-color: var(--accent);
}

.dropdown div a {
  margin: 10px;
}
.dropdown {
  flex-direction: column;
  display: flex;
}
a {
  color: var(--primary);
}
.item {
  display: flex;
  margin: 10px;
  flex-direction: row;
}
