.cartInfo {
    color: var(--primary);
    display: flex;
    width: 95%;
  }
  .cart p {
    font-size: 1rem;
  }
  .nombre {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 62rem;
  }
  .img {
    width: 6.25rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .25rem 0px;
    align-items: center;
  }
