.cartInfo {
    color: var(--primary);
    display: flex;
    width: 95%;
  }
  .cart p {
    font-size: 1rem;
  }
  .nombre {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 62rem;
  }
  .img {
    width: 6.25rem;
    height: 7rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }

  .cartItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: .25rem 0px;
    align-items: center;
  }
@media(max-width: 700px){
  .cartInfo {
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
  }
  .cartItem{
    flex-direction: column;
  }
  .img{
    width: 15rem;
    height: 17rem;
  }
  .nombre{
    width: 22.5rem;
    height: fit-content;
    gap: 1rem;
  }
}