.cartItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0px;
  align-items: center;
}
.cart {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  padding: var(--space-sm);
  min-height: 100vh;
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 0.5rem;
}
.cart h1 {
  color: var(--main);
}
.titulo {
  display: flex;
  align-items: center;
}

.btn {
  display: flex;
  width: 18.75rem;
  height: 3.75rem;
  text-align: center;
  font-family: "Bebas Neue";
  flex-shrink: 0;
  color: var(--secondary);
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border-radius: 0.25rem;
  float: right;
  border: 1px solid var(--secondary);
  background: var(--accent);
  color: black;
  cursor: pointer;
}
.cart a {
  color: var(--Texto-1, #000);
  text-align: center;
  font-family: Bebas Neue;
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  line-height: 2.25rem; /* 163.636% */
  text-transform: capitalize;
}
.cartInfo {
  color: var(--primary);
  display: flex;
  width: fit-content;
}
.cart p {
  font-size: 1.2rem;
}
.nombre {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
}
