.container {
  width: 100%;
  height: 100%;
  background-color: black;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.btn {
  border: none;
  text-decoration: underline;
  color: var(--primary);
  font-family: "Bebas Neue";
  font-size: 1.5rem;
  box-shadow: none;
  background-color: var(--secondary);
  transition-duration: 0.5s;
}
.btn:hover {
  color: var(--main);
}
.content {
  background-color: var(--secondary);
  min-height: 350px;
}
