.home {
  background-color: var(--secondary);

  color: var(--primary);
}
.sections {
  height: 650px;
  display: flex;
  align-items: center;
  margin: 50px 0px;
  justify-content: space-between;
  flex-direction: row;
}
.sections div img {
  width: 30vw;
  height: inherit;
  border-radius: 1rem;
}
.sections div {
  height: inherit;
  display: flex;

  flex-direction: column;
  justify-content: space-between;
}
.destacados img {
  width: 20vw;
  border-radius: 1rem;
  border: solid var(--accent);
}
.destacados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.destacados div {
  padding: 20px 0px;
}

.margen {
  margin: 0px 50px;
}

.home button {
  box-shadow: none;
  border-radius: 0;
  height: 100%;
  width: max-content;
}
