.home {
  background-color: var(--secondary);

  color: var(--primary);
}
.sections {
  /* height: 42.5rem; */
  display: flex;
  align-items: center;
  margin: 50px 0px;
  justify-content: space-between;
  flex-direction: row;
}
.middle{
  /* height: 30vh; */
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
  align-items: space-between;
}
.middle img{
  height: 22.5vh;
  width: 30vw;
}
.sideImage img{
 width: 30vw;
 height: 50vh;
}
.sections div {
  /* height: inherit; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.destacados img {
  width: 20vw;
  border-radius: 1rem;
  border: solid var(--accent);
}
.destacados {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.destacados div {
  /* padding: 20px 0px; */
  gap: 1rem;
}

.margen {
  margin: 0 1rem;
}


.home button {
  box-shadow: none;
  border-radius: 0;
  height: 100%;
  width: max-content;
}

@media (max-width: 600px){
  .sections{
    flex-direction: column;
  }
  .sideImage img{
    width: 75vw;
  }
  .middle{
    align-items: center;
    height: auto;
  }
  .middle img{
    width: 75vw;  
  }
}
