.btn:hover {
  cursor: "pointer";
}
.img {
  transition: all;
  transition-duration: 0.5s;
}
.img:hover {
  background-color: var(--accent);
  opacity: 80%;
}
.titleCard {
  font-size: var(--text-sm);
  padding: 0;
}
.titleCard a {
  color: var(--secondary);
}
.card {
  cursor: pointer;
  width: 20vw;
}

.card div {
  padding-bottom: 0;
  margin-bottom: 0;
}
.titleCard a div {
  font-family: "frontpageneue";
  font-size: 1rem;
}
