.img {
  transition: all;
  transition-duration: 0.5s;
  border-radius: 20rem;
  height: 43vh;
}
.img:hover {
  background-color: var(--accent);
  opacity: 80%;
}

.card {
  cursor: pointer;
  /* width: 21vw; */
  width: 18.5rem;
}

.titleCard a div {
  font-family: "frontpageneue";
  font-size: 1rem;
}
