.container{
    display: flex;
    border-bottom: .0625rem solid white;
    border-top: .0625rem solid white;
    flex-direction: row;
    height: 2.1875rem;
    justify-content: space-between;
    align-items: center;
    width: 7.8125rem;
    border-radius: .125rem;
    overflow: hidden;
}

.buttons{
    width: 2.5rem ;
    font-size: 1.25rem;
    height: 2.1875rem;
    border-bottom: none;
    border-top: none;
    border-radius: 0;
    background-color: black;
    color: white;
}