.footer {
  color: var(--primary);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: solid 5px var(--accent);
  padding: 1.25rem 3.125rem 6.25rem 3.125rem;
}
.footer a {
  transition-duration: 0.5s;
  font-family: "frontpageneue";
}
a:hover {
  color: var(--main);
}
.newsletter {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer li {
  padding-bottom: var(--space-xs);
}
.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input {
  /* width: 27.467125rem; */
  width: 27.467125rem;
  height: 2.6875rem;
  border-radius: 0.625rem;
  padding: 0.625rem;
}

@media (max-width: 973px){
  .footerContent{
    flex-direction: column;
    align-items: space-evenly;
  }
}

@media (max-width: 519px) {
  .input{
    width: 20rem;
  }
}