.footer {
  color: var(--primary);
  background-color: var(--secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: solid 5px var(--accent);
  padding: 40px 0px;
}
.ul li a {
  transition-duration: 0.5s;
  font-family: "Roboto", sans-serif;
}
a:hover {
  color: var(--main);
}
