@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@font-face {
  font-family: frontpageneue;
  src: url("./fonts/FrontPageNeue.woff");
}
@font-face {
  font-family: urae;
  src: url("./fonts/urae_nium.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
:root {
  /*Pallette*/
  --primary: #ffffff;
  --secondary: #000000;
  --accent: #ffe54e;
  --main: #6df0f7;

  /* Font Sizes */
  --text-xxl: 3.6em;
  --text-xl: 2.8em;
  --text-lg: 2.2em;
  --text-sm2: 2em;
  --text-sm: 1.8em;
  --text-xs: 1.4em;

  /* Spacings */
  --space-xxl: 12rem;
  --space-xl: 8rem;
  --space-lg: 5rem;
  --space-md: 3.2rem;
  --space-sm: 1.6rem;
  --space-xs: 0.8rem;

  --font-urae: "urae";
  --font-fneue: "frontpageneue";
  --font-bebas: "Bebas Neue";
}
h5 {
  padding: var(--space-xs);
}
h1 {
  font-family: "Bebas Neue", sans-serif;
  text-align: left;
}
a {
  text-decoration: none;
}
h3 {
  color: var(--main);
  font-family: "urae";
}
h2 {
  font-family: "Bebas Neue";
}
.MuiBreadcrumbs-separator {
  color: var(--main);
}
